<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <title>Computer Science Research and Development Center Nepal.</title>
        <meta name="description" content="CSRDC Nepal">
        <meta name="viewport" content="width=device-width">




    </head>
    <body>
            <!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

        @imports()
        @header()
        <div class="site-slider">
            <ul class="bxslider">
                <li>
                    <img src="images/slider/slide1.jpg" alt="slider image 1">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <div class="slider-caption">
                                    <h2>Your HTML5 Website</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

            </ul> <!-- /.bxslider -->
            <div class="bx-thumbnail-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="bx-pager">
                                <a data-slide-index="0" href=""><img src="assets/images/slider/thumb1.jpg" alt="image 1" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- /.site-slider -->
        
        @services()

        @career()

        @about()

        @contactus()

        @footer()

    </body>
</html>